#text-block{
    background-color:#7070b763;
    padding: 1em;
    margin:0;
}

h1{
    background-color: purple;
    text-align: center;
}

body{
    background-color:#c3c2b7;
}

h3{
    margin:0;
    font-size: 1rem;
}
#game-header{
    margin: auto;
}

#red-crystal{
    max-width: 20px;
}